<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>星云币对人民币交易平台</title>
        <link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link type="text/css" href="css/theme.css" rel="stylesheet">
        <link type="text/css" href="images/icons/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <i class="icon-reorder shaded"></i>
                    </a>
                    <a class="brand" href="index.html">星云币对人民币交易平台 </a>
                    <div class="nav-collapse collapse navbar-inverse-collapse">
                        <ul class="nav pull-right">
                            <li>
                                <a href="release.html">发布售币 </a>
                            </li>
                            <li>
                                <a href="help.html">帮助教程 </a>
                            </li>
                            <li>
                                <a href="author.html">联系作者 </a>
                            </li>

                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="sidebar">
                            <ul class="widget widget-menu unstyled">
                                <li class="active">
                                    <a href="index.html">
                                        <i class="menu-icon icon-home"></i>首页
                                    </a>
                                </li>
                                <li>
                                    <a href="infolist.html">
                                        <i class="menu-icon icon-bullhorn"></i>售币信息</a>
                                </li>
                                <li>
                                    <a href="order.html">
                                        <i class="menu-icon icon-inbox"></i>我的订单</a>
                                </li>
                                <li>
                                    <a href="release.html">
                                        <i class="menu-icon icon-file"></i>发布售币</a>
                                </li>
                            </ul>
                            <!--/.widget-nav-->
                            <ul class="widget widget-menu unstyled">

                                <li>
                                    <a href="help.html">
                                        <i class="menu-icon icon-book"></i>帮助教程 </a>
                                </li>
                                <li>
                                    <a href="customer.html">
                                        <i class="menu-icon icon-user"></i>联系客服</a>
                                </li>
                                <li>
                                    <a href="author.html">
                                        <i class="menu-icon icon-envelope"></i>联系作者</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.sidebar-->
                    </div>
                    <!--/.span3-->
                    <div class="span9">

                        <div class="content">
                            <div class="module">
                                <div class="module-head">
                                    <h3>
                                        我的订单</h3>
                                </div>
                                <div class="control-group" style="margin-left: 20px;margin-top: 5px;">
                                    <input type="text" id="textwallet" placeholder="我的钱包地址" class="span6">
                                    <a class="btn btn-primary" onclick="searchCli()" style="margin-top: -10px;">查询</a>
                                </div>
                                <div class="module-body table">
                                    <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display" width="100%"
                                        id="app" style="display: none;">
                                        <thead>
                                            <tr>
                                                <!-- <th>
                                                    序号
                                                </th> -->
                                                <th>
                                                    出售数量
                                                </th>
                                                <th>
                                                    最低成交价
                                                </th>
                                                <th>
                                                    状态
                                                </th>
                                                <th>
                                                    发布时间
                                                </th>
                                                <th width="400">
                                                    操作 面板
                                                </th>
                                            </tr>
                                        </thead>
                                        <!-- <tbody>
                                                        <tr class="odd gradeX" v-for="(item,index) in infos">
                                                            <td>
                                                                {{index}}
                                                            </td>
                                                            <td>
                                                                {{item.amount}}
                                                            </td>
                                                            <td>
                                                                {{item.price}}
                                                            </td>
                                                            <td class="center" v-if="item.status==0">
                                                                已发布
                                                            </td>
                                                            <td class="center" v-if="item.status==-1">
                                                                已撤回
                                                            </td>
                                                            <td class="center" v-if="item.status==1">
                                                                已委托
                                                            </td>
                                                            <td class="center" v-if="item.status==2">
                                                                交易成功
                                                            </td>
                                                            <td class="center">
                                                                {{item.date}}
                                                            </td>
                                                            <td class="center">
                                                                <a class="btn btn-success" target="_blank" v-bind:href="'info.html?postmark='+item.postmark">查看</a>
                                                                <a class="btn btn-warning" target="_blank" v-if="item.status==0" v-bind:href="'depute.html?postmark='+item.postmark">委托</a>
                                                                <a class="btn btn-primary" target="_blank" v-if="item.status==0" v-bind:href="'release.html?postmark='+item.postmark">修改</a>
                                                                <a class="btn btn-danger" target="_blank" v-if="item.status==0" v-bind:href="'revoke.html?postmark='+item.postmark" >撤回</a>
                                                            </td>
                                                        </tr>
                                                        </tr>
                                                    </tbody> -->
                                    </table>
                                </div>
                            </div>
                            <!--/.module-->
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <b class="copyright">&copy; 2018 tst </b>All rights reserved. Contact us
                <a href="author.html" title="联系我们">联系我们</a>
            </div>
        </div>
        <script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="dist/nebulas.js"></script>
        <script type="text/javascript" src="dist/nebPay.js"></script>
        <script type="text/javascript" src="js/createguid.js"></script>
        <script type="text/javascript" src="js/vue.min.js"></script>
        <script>
            "use strict";
            var commonClass = new CommonClass();
            var dappContactAddress = commonClass.GetAddress;
            var nebulas = require("nebulas"), Account = Account, neb = new nebulas.Neb();
            neb.setRequest(new nebulas.HttpRequest(commonClass.GetNetName));
            var NebPay = require("nebpay");
            var nebPay = new NebPay();
            var serialNumber;

            window.onload = async function () {
                // loadInfo();
            }

            function searchCli() {
                loadInfo();
            }

            //初始化加载信息
            function loadInfo() {
                console.log("loadInfo");
                var from = dappContactAddress;
                var value = "0";
                var nonce = "0";
                var gas_price = "1000000";
                var gas_limit = "2000000";
                var callFunction = "GetAll";
                var callArgs = "";
                var contract = {
                    "function": callFunction,
                    "args": callArgs
                }

                neb.api.call(from, dappContactAddress, value, nonce, gas_price, gas_limit, contract).then(function (resp) {
                    var result = resp.result.substring(1, resp.result.length - 1);
                    var result = result.replace(/\\/g, '');
                    console.log("result" + result);
                    if (result === 'null') {
                        console.log("Null result");
                        return;
                    }
                    ShowDataToWeb(result);
                }).catch(function (err) {
                    console.log("error :" + err.message);
                })
            }

            //展示到页面
            function ShowDataToWeb(result) {
                var res = JSON.parse(result);
                console.log(res);
                res.sort(compareDesc("date"));

                var address = $('#textwallet').val();
                var list = new Array();
                var index = 0;
                for (var i = 0; i < res.length; i++) {
                    if (res[i].author == address) {
                        list[index] = res[i];
                        index++;
                    }
                }

                $("#app").show();
                var table = $("#app").DataTable({
                    "processing": true,
                    "bAutoWidth": true,
                    "bPaginate": true,
                    "aaSorting": [[0, "desc"]],
                    "sZeroRecords": "没有匹配的记录...",
                    "bDestroy": true,
                    "columns": [
                        // { "data": "author" },
                        { "data": "amount" },
                        { "data": "price" },
                        { "data": "status" },
                        { "data": "date" },
                        { "data": "date" },
                    ],
                    "columnDefs": [
                        {
                            "targets": [4],
                            "data": "postmark",
                            "render": function (data, type, full) {
                                return "<a class='btn btn-success' target='_blank' href='info.html?postmark=" +full.postmark  + "'>查看</a><a class='btn btn-warning' target='_blank' href='depute.html?postmark=" +full.postmark  + "'>委托</a><a class='btn btn-primary' target='_blank' href='release.html?postmark=" +full.postmark  + "'>修改</a><a class='btn btn-danger' target='_blank' href='revoke.html?postmark=" +full.postmark  + "'>撤回</a>";

                            }
                        }
                    ]
                });

                var oSettings = table.fnSettings();

                table.fnClearTable(this);//动态刷新关键部分语句，只会根据后台数据有变化才会刷新  

                for (var i = 0; i < list.length; i++) {
                    if (list[i].status == 0)
                        list[i].status = "已发布";
                    else if (list[i].status == -1)
                        list[i].status = "已撤回";
                    else if (list[i].status == 1)
                        list[i].status = "已委托";
                    else if (list[i].status == 2)
                        list[i].status = "交易成功";
                    table.oApi._fnAddData(oSettings, list[i]);//注意取得的jason串的字符数量，要与html中列的数量要有对应  
                }

                oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
                table.fnDraw();
                // new Vue({
                //     el: '#app',
                //     data: {
                //         infos: list
                //     }
                // })
            }
        </script>
        <script src="scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="scripts/common.js" type="text/javascript"></script>

    </body>